@font-face {
  font-family: "raleway";
  src: url("raleway_thin-webfont.ttf");
}
html{
  font-size: 62.5%;
}

body{
  font-size: 1.4rem;
  font-family: "raleway", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#canvas {
  position: absolute;
  inset: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  inset: 0;
}

/* =================== Menu ============================= */

.menu-container {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  z-index: 1;
  flex-grow: 1;
}

.menu {
  list-style-type: none;
  height: 4rem;
  max-width: 656px;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
}

.menuItem {
  list-style: none;
  float: left;
  display: block;
  line-height: 3rem;
  /* width:100px; */
  overflow: auto;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
}

.menuItem a {
  color: inherit;
  text-decoration: none;
}

.menuItem a:hover {
  text-decoration: underline;
}

/* =================== Main ============================= */
#main {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-full{
  height: 100%;
}

.social {
  position: absolute;
  top: 0;
  left: 0;
}

.social ul {
  list-style: none;
}

#Home,
.findList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "raleway";
}

.portfolioList,
.expList,
.presList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100% - 8rem);
  overflow: auto;
}

#main h1,
h2,
h3 {
  color: #ffffff;
}

#Home p {
  font-size: 2rem;
  color: #ffffff;
  text-align: justify;
}

.findItem ul li {
  list-style-type: none;
  float: left;
  padding: 0.5rem;
  display: block;
}
.find_link:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);

  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
}

.titleLine{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleLine .heading{
  padding-left: 1rem;
}

.titleLine .tagline{
  padding-right: 1rem;
}
/* =================== Pages Styles ============================= */

header {
  /* position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10; */

}

.boxItem{
      background: rgba(255, 255, 255, 0.7);
			margin: 1rem;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
			border-bottom: 1px solid #EAEAEA;
			border-radius: 5px;
}

#main h1.heading {
  font-size: 5.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {
  html{
    font-size: 100%;
  }
}

@media (max-width: 991px) {
  html{
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  html{
    font-size: 100%;
  }
}

@media (max-width: 668px) {
  html{
    font-size: 80%;
  }
}

@media (max-width: 640px) {
  html{
    font-size: 75%;
  }
}

@media (max-width: 375px) {
  html{
    font-size: 60%;
  }
}
